.wrapper {
    position: relative;
    width: 1184px;
    height: 680px;
    margin: 68px auto 45px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .rightImage {
        position: absolute;
        top: 0;
        right: -100px;
    }

    .content {
        width: 100%;
        height: fit-content;

        .heading {
            font-family: 'Fraunces';
            font-weight: 400;
            font-size: 56px;
            line-height: 69px;
            color: #383838;
            width: 535px;
        }

        .description {
            font-family: 'Fraunces';
            font-weight: 300;
            font-size: 28px;
            line-height: 35px;
            color: #606060;
            width: 644px;
            margin: 32px 0 40px;
        }

        .bgLine {
            width: 570px;
            height: 44px;

            background: #DEDEDE;
            border-radius: 4px;

            font-family: 'Raleway';
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            color: #606060;

            padding-left: 14px;
            display: flex;
            align-items: center;
            margin-bottom: 16px;
        }

        .tryNow {
            cursor: pointer;
            padding: 10px;
            gap: 10px;
            border: 2px solid #FF624F;
            border-radius: 2px;
            width: fit-content;

            font-family: 'Raleway';
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            color: #FF624F;
        }
    }
}