.wrapper {
    background: #383838;
    padding: 72px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;

    .tags {
        display: flex;
        gap: 68px;

        font-family: 'Fraunces';
        font-weight: 300;
        font-size: 28px;
        line-height: 35px;
        color: #FFFFFF;
    }
}