.wrapper {
    position: relative;
    width: 1184px;
    margin: 0 auto 96px;

    display: flex;

    .content {
        margin-top: 100px;
        margin-right: 46px;

        .head {
            font-family: 'Fraunces';
            font-weight: 400;
            font-size: 48px;
            line-height: 59px;
            color: #383838;
            margin-bottom: 40px;
        }

        .desc {
            width: 644px;
            font-family: 'Raleway';
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            color: #383838;
        }
    }
}