.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1184px;
    margin: 32px auto;

    .links {
        display: flex;
        gap: 64px;

        font-family: 'Raleway';
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #383838;

        p {
            cursor: pointer;
        }

        .signUp {
            cursor: pointer;
            display: flex;
            color: #FF624F;

            img {
                margin-right: 10px;
            }
        }
    }
}